.body{
  text-align: center;
  justify-content: center;
  background-color: white;
  margin: 0 50px;
  padding: 20px;
  box-shadow: 0 0 5px 1px black;
}

.body h1{
  font-weight: bold;
  margin-bottom: 40px;
}

.body h1::first-letter{
  text-transform: capitalize;
}

.body h6::first-letter{
  text-transform: capitalize;
}

.text{
  display: flex;
  text-align: left;
}